:root {
	--accent-color: #fe6d73;
	--font-color: #1b263b;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: var(--font-color);
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.App {
	max-width: 1140px;
	margin: 0 auto;
}

.navbar {
	min-height: 10vh;
	display: flex;
	align-items: center;
	margin-bottom: 5rem;
}

.navbar h2 {
	text-transform: uppercase;
	position: relative;
	font-size: 1.8rem;
	margin: 1rem;
}

.navbar h2::after {
	content: "";
	width: 5rem;
	height: 0.5rem;
	background-color: var(--accent-color);
	position: absolute;
	bottom: 8%;
	right: -18%;
	z-index: -1;
}

.progress-bar {
	height: 5px;
	background-color: var(--accent-color);
}

label input {
	height: 0;
	width: 0;
	opacity: 0;
}

form {
	margin: 30px auto 10px;
	text-align: center;
}

label {
	border-radius: 50%;
	margin: 10px auto;
	line-height: 30px;
	color: var(--accent-color);
	font-size: 4rem;
	font-weight: 500;
	cursor: pointer;
	position: relative;
	transition: all 0.3s ease-in-out;
	margin-bottom: 4rem;
}

span {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-48%, -70%);
	color: var(--accent-color);
	transition: all 0.3s ease-in-out;
}

span:hover {
	color: white;
}

label:hover {
	background: var(--accent-color);
	color: white;
}

.img-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 2rem;
}

.img-container {
	overflow: hidden;
	height: 0;
	padding: 50% 0;
	position: relative;
	margin-top: 3rem;
	opacity: 0.9;
	cursor: pointer;
}

.img-container img {
	min-width: 100%;
	min-height: 100%;
	max-width: 150%;
	position: absolute;
	top: 0;
	left: 0;
	transform-origin: center;
}

.shadow {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
}

.shadow img {
	max-width: 60%;
	max-height: 80%;
	z-index: 10;
}
