:root {
   --accent-color: #fe6d73;
   --font-color: #1b263b;
}

*,
*::before,
*::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   color: var(--font-color);
}

body {
   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
      "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
}

.App {
   max-width: 1140px;
   margin: 0 auto;
}

.navbar {
   min-height: 10vh;
   display: flex;
   align-items: center;
}

.navbar h2 {
   text-transform: uppercase;
   position: relative;
   font-size: 1.8rem;
   margin: 1rem;
}

.navbar h2::after {
   content: "";
   width: 5rem;
   height: 0.5rem;
   background-color: var(--accent-color);
   position: absolute;
   bottom: 8%;
   right: -18%;
   z-index: -1;
}

.progress-bar {
   height: 5px;
   background-color: var(--accent-color);
}

label input {
   height: 0;
   width: 0;
   opacity: 0;
}

label {
   display: block;
   width: 30px;
   height: 30px;
   border: 1px solid var(--primary);
   border-radius: 50%;
   margin: 10px auto;
   line-height: 30px;
   color: var(--primary);
   font-weight: bold;
   font-size: 24px;
}

label:hover {
   background: var(--primary);
   color: white;
}
